<header>
  <nav class="navegacion">
    <div class="titulo">UNHotel</div> 
    <ul class="menu">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Huespedes</a>
       
        <ul class="submenu">
          <li><a href="#">Crear</a></li>
          <li><a href="#">Consultar</a></li>
          <li><a href="#">Actualizar</a></li>
        </ul>
        
      </li>
      <li><a href="#">Servicios</a>
      
        <ul class="submenu">
          <li><a href="#">Crear</a></li>
          <li><a href="#">Consultar</a></li>
          <li><a href="#">Actualizar</a></li>
        </ul>
        
      </li>
      
         
    </ul>
    
  </nav>
</header>
