<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    WELCOME TO TESTING 
    
    <%= link_to "Solicitudes de servicios", solicituds_index_path %>
    <%= link_to "Huespedes", huespeds_index_path %>
    <%= link_to "Empleados", empleados_index_path %>
    <%= link_to "Servicios", servicios_index_path %>
  </body>
</html>